@font-face{font-family: 'PressStart2P-Regular'; src: url(other/PressStart2P-Regular.ttf);}
h1{color: aqua; font-family:'PressStart2P-Regular'; font-size: 48pt;}
*{background-color: burlywood; font-family:'PressStart2P-Regular';}
#android{color: darkblue;}
#win{color: white;}